.collection {
  min-height: 79vh;
  background-color: #201f24;
  color: white;
  display: flex;
  justify-content: center;
}

.collection-items h3 {
  margin-top: 20px;
  font-family: "Press Start 2P";
  text-decoration: underline;
  text-decoration-color: red;
}

.collection-non-authenticated {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.collection-non-authenticated p {
  font-family: "Press Start 2P";
  margin-top: 25px;
  font-size: 15px;
}
