.signup {
  background-color: green;
  min-height: 79vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #201f24;
  color: white;
}

.signup-box {
  width: 70%;
  height: 60vh;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 5px 30px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 30px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 30px 4px rgba(0, 0, 0, 0.75);
}

.signup-left-side {
  background: rgb(51, 52, 54);
  background: linear-gradient(
    180deg,
    rgba(51, 52, 54, 1) 38%,
    rgba(24, 24, 24, 1) 100%
  );
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid #ff4656;
}

.signup-right-side {
  background: rgb(51, 52, 54);
  background: linear-gradient(
    0deg,
    rgba(51, 52, 54, 1) 38%,
    rgba(24, 24, 24, 1) 100%
  );
  width: 50%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid #ff4656;
}

.signup-left-side-logo {
  height: 100px;
}

.signup-left-side-logo i {
  color: #ff4656;
  margin: 10px;
}

.signup-left-side-howitworks {
  /* background-color: green; */
  height: 60px;
  display: flex;
  align-items: center;
}

#signup-left-side-howitworks-span {
  font-size: 20px;
  font-family: "Press Start 2P";
  text-decoration: underline;
  text-decoration-color: #ff4656;
  text-decoration-thickness: 4px;
}

.signup-left-side-howitworks > h2 {
  font-family: "Press Start 2P";
  font-size: 20px;
  margin-left: 30px;
}

.signup-left-side-user {
  display: flex;
  height: 50px;
  margin-left: 35px;
  align-items: center;
  /* background-color: green; */
}

.signup-left-side-user i {
  margin-right: 10px;
  font-size: 25px;
  color: #ff4656;
}

.signup-left-side-user > p {
  font-family: "Press Start 2P";
  font-size: 10px;
  line-height: 15px;
  width: 350px;
}

.signup-left-side-favorite {
  display: flex;
  height: 50px;
  margin-left: 35px;
  align-items: center;
  /* background-color: green; */
}

.signup-left-side-favorite i {
  margin-right: 10px;
  font-size: 25px;
  color: #ff4656;
}

.signup-left-side-favorite p {
  font-family: "Press Start 2P";
  font-size: 10px;
  line-height: 15px;
  width: 350px;
}

.signup-left-side-review {
  display: flex;
  height: 50px;
  margin-left: 30px;
  align-items: center;
}

.signup-left-side-review i {
  margin-right: 6px;
  font-size: 25px;
  color: #ff4656;
}

.signup-left-side-review p {
  font-family: "Press Start 2P";
  font-size: 10px;
  line-height: 15px;
  width: 350px;
}

.signup-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-right-side-items {
  display: flex;
  flex-direction: column;
}

.signup-right-side-items h2 {
  font-family: "Press Start 2P";
  font-size: 20px;
  margin-bottom: 10px;
}

.signup-right-side-items input {
  text-indent: 15px;
  height: 30px;
  font-family: "Press Start 2P";
  font-size: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid #ffff;
  transition: 0.4s ease-in-out;
}

.signup-right-side-items input:hover {
  transform: scale(1.02);
}

.signup-right-side-items :nth-child(2) {
  margin-top: 5px;
}

.signup-right-side-items button {
  background-color: #ff4656;
  border: 2px solid #ff4656;
  border-radius: 5px;
  height: 30px;
  color: white;
  font-weight: 800;
  font-family: "Press Start 2P";
  font-size: 10px;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

.signup-right-side-items button:hover {
  background-color: white;
  color: #ff4656;
  transform: scale(1.04);
}

.signup-right-side-items p {
  margin-top: 10px;
  color: white;
  font-family: "Press Start 2P";
}

.signup-right-side-items p a {
  text-decoration: none;
  color: lightgray;
  font-family: "Press Start 2P";
  font-size: 8px;
}

.signup-right-side-items-confirmpassword :nth-child(1) {
  margin-right: 5px;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input {
  display: flex;
}

.file-input p {
  color: green;
  display: flex;
  font-size: 15px;
  margin-left: 15px;
}

.file-input label {
  display: block;
  position: relative;
  font-family: "Press Start 2P";
  font-size: 11px;
  width: 50%;
  height: 35px;
  border-radius: 5px;
  background: #ff4656;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  margin-bottom: 25px;
}

input:hover + label,
input:focus + label {
  transform: scale(1.06);
}

input:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

.signup-error {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.signup-error p {
  width: 70%;
  text-align: center;
  font-size: 10px;
  color: red;
}

.signup-done {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.signup-done p {
  font-size: 10px;
  color: green;
}

@media (max-width: 1350px) {
  .signup-box {
    width: 80%;
  }
}

@media (max-width: 1180px) {
  .signup-box {
    width: 90%;
  }
}

@media (max-width: 945px) {
  .signup-box {
    width: 97%;
  }
}

@media (max-width: 874px) {
  .signup-right-side-items {
    width: 90%;
  }
}

@media (max-width: 755px) {
  .signup-box {
    margin-top: 230px;
    margin-bottom: 50px;
    min-height: 60vh;
    width: 91%;
    display: flex;
    flex-direction: column-reverse;
  }

  .signup-left-side-logo {
    margin-top: 10px;
    height: 40px;
  }

  .signup-left-side {
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-right: none;
    border-top: 1px solid #ff4656;
  }

  .signup-right-side {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left: none;
  }

  .signup-left-side-review {
    margin-bottom: 40px;
  }

  .signup-right-side-items {
    margin-top: 30px;
  }

  .signup-right-side-items p {
    margin-bottom: 30px;
  }
}
